
/build/
.project
Construcciones.iml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

/.settings
/bin/
